<table class="productsTable" width="100%" border="0" cellpadding="0" cellspacing="0">
  {{#each items}}
    <!-- back to order items list -->
    {{#each ../../../../items}}
      <!-- show info for this shippingInfo item -->
      {{#eq @index ../itemIndex}}
        <tr>
          <td width="88" class="v-mid pr3 pv2">
            <img alt="{{name}}" src="{{replace (replace imageUrl "-55-55" "-144-144" ) "-80-80" "-144-144" }}"
              width="72" height="72" style="min-width: 72px; object-fit: contain;">
          </td>
          <td class="v-mid pv2">
            <p class="ma0 f6 word-wrap">{{name}}</p>
            <p class="mt-4 mb0 f7 lh-title b base-500">{{refId}}</p>
            <p class="mt-4 mb0 f7 lh-title base-500">
              {{quantity}} x
              <span>
                {{#if sellingPrice}}
                  {{formatCurrency sellingPrice}} ((i18n.common.currency))
                {{else}}
                  ((i18n.common.free))
                {{/if}}
              </span>
            </p>
          </td>
        </tr>
        {{#each bundleItems}}
          {{#if name}}
            <tr>
              <td width="88" class="v-mid pr3 pv2">
                <img alt="{{name}}" src="{{replace (replace imageUrl "-55-55" "-144-144" ) "-80-80" "-144-144" }}"
                  width="72" height="72" style="min-width: 72px; object-fit: contain;">
              </td>
              <td class="v-mid pv2">
                <p class="ma0 fs-15 word-wrap">{{name}}</p>
                <p class="mt-4 mb0 f7 lh-title b base-500">{{refId}}</p>
                <p class="mt-6 mb0 f7 lt-title b base-500">
                  {{quantity}} x
                  <span>
                    {{#if price}}
                      {{formatCurrency price}} ((i18n.common.currency))
                    {{else}}
                      ((i18n.common.free))
                    {{/if}}
                  </span>
                </p>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{/eq}}
    {{/each}}
  {{/each}}
</table>