<!-- 1 payment -->
{{#compare payments.length "==" 1}}
  {{#each payments}}
    <p class="ma0 lh-copy">
      {{paymentSystemName}}
      {{#if lastDigits}} ((i18n.payment.lastDigits)) {{lastDigits}} {{/if}}
      <br />{{formatCurrency value}} ((i18n.common.currency))
      {{#eq installments 1}}
        ((i18n.payment.atSight))
  {{else}}
    ((i18n.payment.in)) {{installments}}x
      {{/eq}}
    </p>
  {{/each}}
{{/compare}}
<!-- N payments -->
{{#compare payments.length "!=" 1}}
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    {{#each payments}}
      <tr>
        <td class="pt-6 {{#unless @last}}pb-6{{/unless}} {{#compare @index '>' 0}}bt b--light-gray{{/compare}}">
          {{paymentSystemName}}
          {{#if lastDigits}} ((i18n.payment.lastDigits)) {{lastDigits}} {{/if}}
          {{#eq installments 1}}
            ((i18n.payment.atSight))
    {{else}}
      ((i18n.payment.in)) {{installments}}x
          {{/eq}}
        </td>
        <td
          class="pt-6 {{#unless @last}}pb-6{{/unless}} {{#compare @index '>' 0}}bt b--light-gray{{/compare}} align-right">
          {{formatCurrency value}}
          ((i18n.common.currency))
        </td>
      </tr>
    {{/each}}
  </table>
{{/compare}}