<!-- partial:partials/container/mail-start.hbs --><!-- partial -->
<!-- partial:partials/titles/title-order-refunded.hbs --><!-- partial -->
<!-- partial:partials/container/mail-middle.hbs --><!-- partial -->
<!--  Main Content Starts Here -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" class="refundedTable">
  <tr style="box-sizing: border-box !important;">
    <td class="pb4 bb b--light-gray">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="refundedProducts">
        <h3 class="mb3">((i18n.refund.refundedItems))</h3>
        {{#eq package.type 'Input'}}
          {{#each items}}
            {{#each ../package.items}}
              {{#eq @../index this.itemIndex}}
                <tr>
                  <td width="72" class="v-mid pr3 pv2">
                    <img alt="{{../name}}" src="{{replace (replace ../imageUrl "-55-55" "-112-112"
                      ) "-80-80" "-112-112" }}" width="56" height="56" style="min-width: 56px; object-fit: contain;">
                  </td>
                  <td class="v-mid pv2">
                    <p class="ma0 fs-15">{{../name}}</p>
                    <p class="mt-6 mb0">
                      {{../quantity}} {{#eq ../measurementUnit "un"}} ((i18n.common.units))
            {{else}} {{../measurementUnit}}
                      {{/eq}}
                      <span class="fw7 action-primary">
                        {{#if ../sellingPrice}}
                          {{formatCurrency ../sellingPrice}} {{ ../../storePreferencesData.currencySymbol }}
                        {{else}}
                          ((i18n.common.free))
                        {{/if}}
                      </span>
                    </p>
                  </td>
                </tr>
              {{/eq}}
            {{/each}}
          {{/each}}
        {{/eq}}
      </table>
    </td>
  </tr>
  <tr>
    <td class="pt4 fw7">
      ((i18n.refund.refundedTotal))
      <span class="action-primary">{{formatCurrency package.restitutions.Refund.value}}
        {{ storePreferencesData.currencySymbol }}</span>
    </td>
  </tr>
</table>
<!--  Main Content Ends Here -->
<!-- partial:partials/container/mail-end.hbs --><!-- partial -->